In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('sample.db')

In [3]:
cur = conn.cursor()

In [4]:
cur.execute('''
    CREATE TABLE college(
        name varchar(50) NOT NULL,
        location varchar(50),
        pincode INTEGER
    )
''')

In [5]:
cur.execute("INSERT INTO college (name, location, pincode) VALUES ('ABC', 'INDIA', 111100)")

In [6]:
query = '''select * from college;'''
cur.execute(query)
print(cur.fetchall())

[('ABC', 'INDIA', 111100)]

In [7]:
conn.commit()

In [8]:
cur.close()
conn.close()